<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Tipo de Permiso:</label>
        <div>
            <InputText class="form-control" @bind-Value="@typePermissions.Name" />
            <ValidationMessage For="@(() => typePermissions.Name)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@typePermissions.Description" />
            <ValidationMessage For="@(() => typePermissions.Description)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Estado:</label>
        <div>
            <SwitchInput @bind-Value="@typePermissions.Status" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>
