<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Categoria Permiso:</label>
        <div>
            <InputText class="form-control" @bind-Value="@categoryPermissions.Name" />
            <ValidationMessage For="@(() => categoryPermissions.Name)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@categoryPermissions.Description" />
            <ValidationMessage For="@(() => categoryPermissions.Description)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Estado:</label>
        <div>
            <SwitchInput @bind-Value="@categoryPermissions.Status" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" href="/categoryPermissions/details/@categoryPermissions.TypePermissionId">Regresar</button>
</EditForm>
