<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Líder:</label>
        <div>
            <select class="form-select" @bind="Area.UserId">
                <option readonly>-- Seleccione un líder --</option>
                @if (leaders is not null)
                {
                    @foreach (var leader in leaders)
                    {
                        <option value="@leader.Id">@(leader.FullName)</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => Area.UserId)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Area.Name" />
            <ValidationMessage For="@(() => Area.Name)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Area.Description" />
            <ValidationMessage For="@(() => Area.Description)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Estado:</label>
        <div>
            <SwitchInput @bind-Value="@Area.Status" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>
