@page "/permissions"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person-lines" /> Permisos
            <AuthorizeView Roles="User">
                <Authorized>
                    <a class="btn btn-primary btn-sm float-end" style="margin: 0 5px;" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nuevo Permiso</a>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Leader">
                <Authorized>
                    <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowPermissionsByUser())> Mis Permisos</a>
                </Authorized>
            </AuthorizeView>
         </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar permiso..." Callback=@FilterCallBack />
        <GenericList MyList="Permissions">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Fecha de creación</th>
                            <th>Fecha de actualización</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var permission in Permissions!)
                        {
                            <tr>
                                <td>@permission.Id</td>
                                <td>@permission.User!.FullName</td>
                                <td>@permission.Description</td>
                                <td>@GetDescription(permission.Status)</td>
                                <td>@ApplyUtc(permission.Date)</td>
                                <td>@ApplyUtc(permission.DateStatus)</td>
                                <td>
                                    <button class="btn btn-success btn-sm" @onclick=@(() =>ShowDetail(permission.Id))><i class="bi bi-trash" /> Detalle</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>